<div>
  <h1>Sign up </h1>
</div>
<form action="/users/new" method= "post">
  <label for="username"> Create a new user:</label>
  <div>
    <textarea rows="1" cols= "20" name=username id="username">Username</textarea>
  </div>

  <div>
    <textarea rows="1" cols= "20" name=password id="password">Password</textarea>
  </div>
      <button type="submit">Submit</button>
</form>
