body {
  font: normal 14px Helvetica, Arial, sans-serif;
  background: rgba(0, 1, 51, 0.432)
}
main {
  width: 640px;
  padding: 25px 25px 25px 25px;
  margin: 0 auto;
  background:  #780E24;
  color: white;
}

main div {
  display: inline-block;
}

main h2 {
  font-size: 18px;
}

header {
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2em;
  display: inline-block;
}

.fish div {
  background-image: url("../images/spritesheet.png");
  background-repeat: no-repeat;
  z-index: 1;
  width: 128px;
  height: 128px;
  position: absolute;
  left: 20px;
}

#koi-fish {
  top: 80px;
  background-position: -261px 0;
  transform: scaleX(-1);
}

#pink-fish {
  top: 210px;
  background-position: -389px 0;
  transform: scaleX(-1);
}

#plain-fish {
  top: 470px;
  background-position: -129px 0;
}

#clown-fish {
  top: 600px;
  background-position: 0 0;
}

#shark {
  top: 340px;
  background-position: -523px 0;
}


a {
  font-size: 30px;
  color: white;
}

header a {
  text-align: left;
  display: inline-block;
}

.success {
  background: lightseagreen;
}

.failure {
  background: #780E24;
}

.game-box * {
  display: inline-block;
}

span {
    width: 30px;
    height: 35px;
    margin: 0 10px 0 0;
    font-size: 28px;
    text-align: center;
    vertical-align: top;
    border-bottom: 3px solid white;
}

#game-result  {
  display: none;
  padding-bottom: 10px;
}

/* #game-result * {
  font-size: 20px;
  display: block;
} */
