<article class="home-page">

  <h1>Mobile AFL Tables</h1>

  <p>A mobile-friendly prototype inspired by <a href="https://afltables.com/afl/afl_index.html" target="_blank">AFL Tables.</a>   The database includes all AFL fixtures from 1993 to June 2019.</p>

  <p>I've created this to practice working Sinatra, databases, ruby and writing html/css for mobile.</p>

  <p><em>This site is best viewed on a mobile.</em></p>

  <h2>Features</h2>

  <p>Search for all the fixtures of a team in a particular year: </p>

  <a href="/my_team" class="button">How'd my team go in this year?</a>

  <p>Search for games with large winning margins:</p>


  <a href="/big_margins" class="button">Games with large winning margins</a>


</article>