/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 .container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label, .badge  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}

.alert-error {
  background: lightcoral;
}

label {
  display: block;
  margin: 0 0 10px 0;
}

.control-group input, textarea {
  margin-bottom: 5px;
  width: 400px
}

.navbar .container {
  display: block;
}

.nav {
  margin-top: 10px;
  vertical-align: middle;
}

.badge a:hover {
  color: gold;
}

.badge {
  padding: 6px;
}

.lead {
  font-size: 24px;
}

.inline {
  display: inline;
}

.vote-box {
  margin: 0 10px 0 0 ;
  height: 100px;
  width: 100px;
}

.big-box {
  width: 600px;
}

.well {
  display: inline-block;

}
