          <h2>Search paramaters</h2>
          <div class=search_query>
            <dl>
              <dt>Margin</dt>
              <dd>Greater than <%=search_query[:margin]%> points</dd>

              <dt>Years</dt>
              <dd><%=search_query[:years]%></dd>

              <dt>Teams</dt>
              <dd><%=search_query[:teams]%></dd>

              <dt>Venues</dt>
              <dd><%=search_query[:venues]%></dd>

          </div>